body {
  font-family: "Georgia"; /* font voor digitale tekst universiteit */
}

h1 {
  color: #001158; /* huisstijlkleur universiteit */
  font-family: "Verdana"; /* font voor digitale headers ed universiteit */
}

h2 {
  color: #000000; /* zwart */
  font-family: "Verdana"; /* font voor digitale headers ed universiteit */
}

h3 {
  color: #000000; /* zwart */
  font-family: "Verdana"; /* font voor digitale headers ed universiteit */
}

.button, input[type=submit] {
  background-color: #001158; /* huisstijlkleur universiteit */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.textbox, input[type=text], input[type=password], textarea {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    padding: 10px 15px;
    color: black;
}

.textbox:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus {
  background-color: #fcffec;
}

/* tables */
table {
    border-collapse: collapse;
    /*width: 80%;*/
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd){background-color: #7f88ab}

th {
    background-color: white;
    color: black;
    border-bottom-style: solid;
}

/* sidepane */
.sidepane {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #001158;
  overflow-x: hidden;
  padding-top: 78px;
}

.sidepane a { /*links in sidepane*/
  padding: 6px 6px 6px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 8px #000000
  font-size: 14px;
  color: #ffffff;
  font-family: "Verdana";
  display: block;
}

.sidepane a:hover {
  background-color: #7f88ab;
}

.main {
  background-color: white;
  margin-left: 120px; /* Same as the width of the sidenav + 20px */
}

.main_nopane {
  background-color: white;
  margin-left: 20px;
}

@media screen and (max-height: 450px) {
}
