body {
  font-family: "Georgia"; /* font voor digitale tekst universiteit */
}

h1 {
  color: #001158; /* huisstijlkleur universiteit */
  font-family: "Verdana"; /* font voor digitale headers ed universiteit */
}

h2 {
  color: #000000; /* zwart */
  font-family: "Verdana"; /* font voor digitale headers ed universiteit */
}

h3 {
  color: #000000; /* zwart */
  font-family: "Verdana"; /* font voor digitale headers ed universiteit */
}

.button, input[type=submit] {
  background-color: #001158; /* huisstijlkleur universiteit */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.textbox, input[type=text], input[type=password], textarea {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    padding: 10px 15px;
    color: black;
}

.textbox:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus {
  background-color: #fcffec;
}

/* tables */
.list table {
    border-collapse: collapse;
}

.list th, td {
    text-align: left;
    vertical-align: top;
    padding: 6px 10px;
}

.list tr:nth-child(odd){
    background-color: #d2d8ef;
}

.list th {
    background-color: white;
    color: black;
    border-bottom-style: solid;
    cursor:pointer;
}

.form td {
	vertical-align: middle;
}

.main {
  background-color: white;
  margin-left: 140px; /* Same as the width of the sidenav + 20px */
}

.main_nopane {
  background-color: white;
  margin-left: 20px;
}

@media screen and (max-height: 450px) {
}
